@model Books2BookV2.Models.TblImage

@{
    ViewData["Title"] = "Create";
}



<!-- Stylesheets
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="/css/dark.css" type="text/css" />
<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
<link rel="stylesheet" href="/css/animate.css" type="text/css" />
<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

<link rel="stylesheet" href="css/custom.css" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<h1>Create</h1>

<h4>TblImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("Create", "TblImages", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <img src="/image/logo1.png" style="max-width: 200px;" id="img-me" />
            <input id="img-me-file" type="file" class="d-none" accept="image/*" />
            <div class="form-group">
                <label asp-for="Id" class="control-label">ID</label>
                <input name="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title </label>
                <input name="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Image</label>
                <input name="Image" id="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <input type="hidden" id="filename" name="filename" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
      
           

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    window.onload = function () {
        document.getElementById("img-me").onclick = function () {
            document.getElementById("img-me-file").click();
        };
        document.getElementById("img-me-file").onchange = function () {
            var fr = new FileReader();
            var file = document.getElementById("img-me-file").files[0];
            fr.onloadend = function () {
                document.getElementById("img-me").src = fr.result;
                document.getElementById("Image").value = fr.result;
                document.getElementById("filename").value=file.name;
            };
            fr.readAsDataURL(file);
        };
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

 

}
