@page "/BookView"
@model Books2BookV2.Pages.Shared.BookViewModel
@{
}
<!DOCTYPE html>


        <title>The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life | Mark Manson | download</title>
<!--<base href="/">--><base href=".">
<head>

                        		                       
                        
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <meta name="title" content="The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life | Mark Manson | download">
			<meta name="description" content="The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life | Mark Manson | download | Z-Library. Download books for free. Find books">
			<meta name="robots" content="index,all">
			<meta name="distribution" content="global">
			<meta http-equiv="cache-control" content="no-cache">
			<meta http-equiv="pragma" content="no-cache">

                        <link rel="apple-touch-icon" sizes="180x180" href="https://b-ok.africa/apple-touch-icon.png?v=1">
                        <link rel="icon" href="https://b-ok.africa/favicon.svg">
                        <link rel="icon" type="image/svg+xml" href="https://b-ok.africa/favicon-32x32.svg?v=2" sizes="32x32">
                        <link rel="icon" type="image/svg+xml" href="https://b-ok.africa/favicon-16x16.svg?v=2" sizes="16x16">
                        <link rel="manifest" href="https://b-ok.africa/manifest.json?v=1">
                        <link rel="mask-icon" href="https://b-ok.africa/safari-pinned-tab.svg?v=1" color="#5bbad5">
                        <meta name="apple-mobile-web-app-title" content="Z-Library">
                        <meta name="application-name" content="Z-Library">
                        <meta name="theme-color" content="#ffffff">

                        <meta name="propeller" content="49c350d528ba144cace841cac74260ab">
                        <meta name="alfacoins-site-verification" content="5ef0e7b2483f15ef0e7b2484275ef0e7b24845d_ALFAcoins">
                        <meta name="format-detection" content="telephone=no">
	
<!-- CSS SET -->
<!-- JS SET --> 
<link rel="SHORTCUT ICON" href="https://b-ok.africa/favicon.ico?v=1">
        <link rel="search" type="application/opensearchdescription+xml" href="https://b-ok.africa/search.xml" title="Search for books in the library Z-Library">

                    <link rel="stylesheet" type="text/css" href="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/global.css">
            <script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/global.js.download"></script>
        <link rel="stylesheet" type="text/css" href="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/bootstrap-tagsinput.css">
<link rel="stylesheet" type="text/css" href="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/jquery.lightbox-0.5.css">
<link rel="stylesheet" type="text/css" href="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/select2.min.css">
<link rel="stylesheet" type="text/css" href="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/flickity.css">
<link rel="stylesheet" type="text/css" href="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/z-booklists-carousel.css">
<link rel="stylesheet" type="text/css" href="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/book-details.css">
<script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/typeahead.js.download"></script>
<script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/bootstrap-tagsinput.min.js.download"></script>
<script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/jquery.lightbox-0.5.min.js.download"></script>
<script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/select2.min.js.download"></script>
<script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/flickity.min.js.download"></script>
<script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/z-booklists-carousel.js.download"></script>
<script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/z-readlist-card.js.download"></script>
<script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/book-details.js.download"></script>

        
        
    </head>

    <body style="margin:0px;padding:0px;" class="books/details">
        <table class="super-puper-main-container" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr style="height:10px;">
                    <td style="vertical-align: top;">
                        <div class="container-fluid">
                            

<div class="row">
    <div class="col-md-12">
        
<style>
    div#colorBoxes
    {
        text-transform: capitalize;
    }

    div#colorBoxes ul li.active:nth-child(1)
    {
        border: 1px solid #378096;
        box-shadow: 0 0 6px #7DBCCF;
        border-top: 0px;
    }

    div#colorBoxes ul li.active:nth-child(2)
    {
        border: 1px solid #6e9b41;
        box-shadow: 0 0 6px #a4e861;
        border-top: 0px;
    }
</style>





    </div>
</div>


<style type="text/css">
    .main-menu-item img {
        opacity: 0.7;
    }
    .main-menu-item img:hover {
        opacity: 1;
    }
</style>




<script>
    $("#bs-example-navbar-collapse-1").on('shown.bs.collapse', function(e){
        $('#main-menu-dropdown').dropdown('toggle');
        $('#main-menu-dropdown').attr('data-toggle', ''); // make it static

        $('#admin-menu-dropdown').dropdown('toggle');
        $('#admin-menu-dropdown').attr('data-toggle', ''); // make it static

        $("#quickSearchMenuDD2").dropdown('toggle');
        $('#quickSearchMenuDD2').attr('data-toggle', ''); // make it static

        $("#profileMenu").dropdown('toggle');
        $('#profileMenu').attr('data-toggle', ''); // make it static
    });

    $('document').ready(() => clearSearchButtonEvents('#quickSearchInput', '#quickSearchReset'));                       // быстрый поиск из шапки
</script>                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="g-page-content">
                        <div class="container" style="max-width: 1000px;padding-bottom: 40px;">
                            <div class="row">
                                <div class="col-md-12 itemFullText">
                                    
<style>
    .adFixW iframe{
        width:100%;
    }
</style>



<div itemscope="" itemtype="http://schema.org/Book">
    <div class="row cardBooks" data-spelling-suggest="true" data-book_id="2765386" style="overflow: hidden;">
        <div class="col-sm-3 details-book-cover-container">
            <div class="details-book-cover-content">
                            <a style="padding: 0; text-decoration: none;" href="https://covers.zlibcdn2.com/covers/books/6c/d7/01/6cd7019852b43e6e67f5b21d8a60b1db.jpg" class="lightbox details-book-cover checkBookDownloaded" data-book_id="2765386" data-isbn="9780062457714,0062457713" itemprop="image">
                    <div class="z-book-cover covered">
                        <img src="/images/book1.jpg" alt="Book image">
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-9">
            <h1 itemprop="name" style="color: #000; line-height: 140%;">
                The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life            </h1>

            <i><a itemprop="author" class="color1" title="Find all the author&#39;s books" href="https://b-ok.africa/author/Mark%20Manson">Mark Manson</a></i>

                            <div class="book-rating-detail">
                    <div class="book-rating " data-original-title="" title="">
                        <span class="book-rating-interest-score ">
                            5.0                        </span> /
                        <span class="book-rating-quality-score ">
                            5.0                        </span>
                    </div>
                    <div class="book-comments-info">93 comments</div>
                    <div class="bookmarks" style="" data-book_id="2765386">
                        <i class="icon-heart btn-save-for-later" title="" data-original-title="Mark the book you like best or plan to download later"></i>
                        <i class="icon-bookmark btn-booklists" title="" data-original-title="Add the book to your personal themed book collection and share it with your community"></i>
                    </div>
                </div>

            
            <div class="book-choice-rating" data-visible="0" data-init="0">
                <div class="overlay-post-score"><div id="bookChoiceRatingtFloatingSpinner"></div></div>
                <div class="overlay"><div id="bookChoiceRatingSpinner"></div></div>
                <div class="book-choice-interest-title">How much do you like this book?</div>
                <div class="book-choice-interest-stars stars-list cursor-pointer" data-disabled="0" data-id="2765386" data-type="interest">
                    <i class="book-rating-star"></i>
                    <i class="book-rating-star"></i>
                    <i class="book-rating-star"></i>
                    <i class="book-rating-star"></i>
                    <i class="book-rating-star"></i>
                </div>

                <div class="book-choice-quality-stub">
                    <div class="book-choice-quality-title">What’s the quality of the file?</div>
                    <div class="book-choice-quality-dmsg">Download the book for quality assessment</div>
                </div>

                <div class="book-choice-quality-title">
                    <div>What’s the quality of the downloaded files?</div>
                </div>
                <div class="book-quality-rating-template">
                    <div class="book-format-quality-rating">
                        <div class="format-info">
                            <span class="download-date"></span>
                            <span class="extension book-property__extension"></span>
                            <span class="size"></span>
                        </div>
                        <div class="book-choice-quality-stars stars-list cursor-pointer" data-disabled="0" data-id="" data-type="quality">
                            <i class="book-rating-star"></i>
                            <i class="book-rating-star"></i>
                            <i class="book-rating-star"></i>
                            <i class="book-rating-star"></i>
                            <i class="book-rating-star"></i>
                        </div>
                    </div>
                </div>
            </div>

                            <div style="padding: 10px 0px; font-size: 10pt; overflow: hidden; height: 234px;" id="bookDescriptionBox" itemprop="reviewBody">
                    In this generation-defining self-help guide, a superstar blogger cuts through the crap to show us how to stop trying to be "positive" all the time so that we can truly become better, happier people.<p>For decades, we’ve been told that positive thinking is the key to a happy, rich life. "F**k positivity," Mark Manson says. "Let’s be honest, shit is f**ked and we have to live with it." In his wildly popular Internet blog, Manson doesn’t sugarcoat or equivocate. He tells it like it is—a dose of raw, refreshing, honest truth that is sorely lacking today. <i>The Subtle Art of Not Giving a F**k</i> is his antidote to the coddling, let’s-all-feel-good mindset that has infected modern society and spoiled a generation, rewarding them with gold medals just for showing up.</p><p>Manson makes the argument, backed both by academic research and well-timed poop jokes, that improving our lives hinges not on our ability to turn lemons into lemonade, but on learning to stomach lemons better. Human beings are flawed and limited—"not everybody can be extraordinary, there are winners and losers in society, and some of it is not fair or your fault." Manson advises us to get to know our limitations and accept them. Once we embrace our fears, faults, and uncertainties, once we stop running and avoiding and start confronting painful truths, we can begin to find the courage, perseverance, honesty, responsibility, curiosity, and forgiveness we seek.</p><p>There are only so many things we can give a f**k about so we need to figure out which ones really matter, Manson makes clear. While money is nice, caring about what you do with your life is better, because true wealth is about experience. A much-needed grab-you-by-the-shoulders-and-look-you-in-the-eye moment of real-talk, filled with entertaining stories and profane, ruthless humor, <i>The Subtle Art of Not Giving a F**k</i> is a refreshing slap for a generation to help them lead contented, grounded lives.<br></p>                </div><div style="text-align:center; cursor:pointer;font-size: 12px; height:25px;" class="moreBtn"><div style="display:inline-block;border-top: 1px dashed #333; width:75%; margin-top: 15px;"><span style="display:inline-block;position:relative;top:-13px;padding:0 30px; background: #F6F6F6;">click to read more</span></div></div>
            
            <div style="overflow: hidden; zoom: 1; margin-top: 30px;">
                <div class="bookDetailsBox">
                <div class="bookProperty property_categories">
                    <div class="property_label">Categories:</div>
            <div class="property_value "><a href="https://b-ok.africa/category/599/Self-Help-Relationships--Lifestyle-Personal-Growth">Self-Help, Relationships &amp; Lifestyle - Personal Growth</a></div></div>
                <div class="bookProperty property_year">
                    <div class="property_label">Year:</div>
            <div class="property_value ">2019</div></div>
                <div class="bookProperty property_edition">
                    <div class="property_label">Edition:</div>
            <div class="property_value ">2</div></div>
                <div class="bookProperty property_publisher">
                    <div class="property_label">Publisher:</div>
            <div class="property_value ">Harper</div></div>
                <div class="bookProperty property_language">
                    <div class="property_label">Language:</div>
            <div class="property_value text-capitalize">english</div></div>
                <div class="bookProperty property_pages">
                    <div class="property_label">Pages:</div>
            <div class="property_value "><span title="Pages paperback">224</span></div></div>
                <div class="bookProperty property_isbn 10">
                    <div class="property_label">ISBN 10:</div>
            <div class="property_value ">0062457713</div></div>
                <div class="bookProperty property_isbn 13">
                    <div class="property_label">ISBN 13:</div>
            <div class="property_value ">9780062457714</div></div>
                <div class="bookProperty property__file">
                    <div class="property_label">File:</div>
            <div class="property_value ">EPUB, 495 KB</div></div>
                <div style="display: none;" class="bookProperty property_user_tags">
                    <div class="property_label">Your tags:</div>
            <div class="property_value "></div></div></div>            </div>
        </div>
    </div>

    <div style="margin-top: 30px; margin-bottom: 15px;">
        <div class="details-buttons-container pull-left">
            <div class="book-details-button">
         
                </div>
                    </div>
                <div style="clear: both;"></div>
    </div>
</div>

<style>
    .tooltip-inner {
        max-width: 220px;
    }
</style>
<script type="text/javascript">
    const availableTags = [];
    const CurrentBook = new Book({"id":"2765386","title":"The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life","termsHash":"8efcda3b6a10ee2a4f240945206a84f4"})
    const CurrentBookRating = new BookRating(CurrentUser)
    const $tagsInput = $('#inputTags')
    const tags = $tagsInput.length ? new TagsInput($tagsInput, CurrentUser, CurrentBook.id, availableTags) : null

    
    $(function () {

        $('#btnCheckOtherFormats').click(function() {
            if (CurrentBook.otherFormatsLoaded) {
                return
            }
            // set an event listener after other formats loading
            CurrentBook.checkOtherFormats().then(() => $(".btn-group li a.addDownloadedBook").on('click', () => {
                if (!showAddCategoryTooltip) return
                addCatLink.tooltip('show')
            }))
            CurrentBook.otherFormatsLoaded = true
        })

        if ($('#btnCheckOtherFormats').data('check-formats') == 1) {
            const spinner = new ZLibrarySpinner('btnCheckOtherFormats').length(3).radius(2).width(2).start()
            CurrentBook.checkOtherFormats().then(() => {
                spinner.stop()
                // set an event listener after other formats loading
                $(".btn-group li a.addDownloadedBook").on('click', () => {
                    if (!showAddCategoryTooltip) return
                    addCatLink.tooltip('show')
                })
            })
            CurrentBook.otherFormatsLoaded = true
        }

        $('a.lightbox').lightBox({
            containerResizeSpeed: 1
        });

        // read more
        var height = 300;
        if ($('.termsCloud').height() > 0)
        {
            height = height - $('.termsCloud').height();
        }

        if (height < 225) {
            height = 225; // min height
        }

        // prevent bad line-brake
        height = Math.floor(height / parseFloat($('#bookDescriptionBox').css('line-height'))) * parseFloat($('#bookDescriptionBox').css('line-height')) + 10; //10 - padding-bottom of box

        if ($('#bookDescriptionBox').height() > height)
        {
            $('#bookDescriptionBox').css('overflow', 'hidden');
            $('#bookDescriptionBox').css('height', height);
            $('<div style="text-align:center; cursor:pointer;font-size: 12px; height:25px;" class="moreBtn"><div style="display:inline-block;border-top: 1px dashed #333; width:75%; margin-top: 15px;"><span style="display:inline-block;position:relative;top:-13px;padding:0 30px; background: #F6F6F6;">click to read more</span></div></div>').insertAfter("#bookDescriptionBox");
        }

        $('.moreBtn, #bookDescriptionBox').click(function () {
            $('#bookDescriptionBox').css('height', 'auto');
            $('#bookDescriptionBox').css('overflow', 'auto');
            $('.moreBtn').remove();
        });

        $('#btnSaveBook').click(function () {
            const success = function (response) {
                $('#btnSaveBook').addClass('hidden')
                $('#btnUnsaveBook').removeClass('hidden')
                                ZLibraryNotify({url: '/users/saved_books.php'})
                    .info('This book was saved in your profile. Click here to see all favorites')
            }

            CurrentUser.saveReadLater(CurrentBook.id, success)
        })

        $('#btnUnsaveBook').click(function () {
            const success = function (response) {
                $('#btnSaveBook').removeClass('hidden')
                $('#btnUnsaveBook').addClass('hidden')
                if (typeof tags === 'object') {
                    tags.clear()
                }
            }

            CurrentUser.deleteReadLater(CurrentBook.id, success)
        });

        // book rating
        CurrentBookRating.initTooltip($('.book-rating-detail .book-rating'))
        CurrentBookRating.initChoiceContainerEvents();
        CurrentBookRating.checkExistsScoreForBook(CurrentBook.id, CurrentBook.data.termsHash, function (hasScore) {
            if (hasScore) {
                $('.book-rating-detail .book-rating').addClass('book-appreciated')
            }
        })
        $(document).on('click', '.book-rating-detail .book-rating.cursor-pointer', function () {
            if (CurrentBookRating.tooltipEl) {
                CurrentBookRating.tooltipEl.tooltip('hide')
            }
            CurrentBookRating.loadUserScores(CurrentBook.id, CurrentBook.data.termsHash);
        });

        $(document).on('click', '.book-choice-rating .stars-list', function(e) {
            if (!$(e.target).hasClass('book-rating-star') || $(this).data('disabled')) {
                return
            }

            const $that = $(this)
            const $bookRatingEl = $('.book-rating-detail .book-rating')
            const $ratingEl = $('.book-choice-rating')
            const $ratingOverlayEl = $ratingEl.find('.overlay-post-score')
            const $spinnerEl = $('#bookChoiceRatingtFloatingSpinner')

            const data = {
                'bookId': $that.data('id'),
                'type': $that.data('type'),
                'score': $that.find('.active-choice').length
            }

            if ($that.data('score') == data.score) {
                return
            }

            $spinnerEl.css({'top': '-10px'})
            $that.after($spinnerEl)

            $ratingOverlayEl.show()
            $that.data('disabled', 1)

            $that.fadeTo(100, 0, function () {
                CurrentBookRating.postScore(data, $spinnerEl, (result) => {
                    $ratingOverlayEl.hide()
                    $that.fadeTo(300, 1)
                    $that.data('disabled', 0)

                    if (!result.success) {
                        return
                    }

                    $that.data('score', data.score)
                    $that.find('.active, .active-none').removeClass('active active-none')
                    $that.find('.active-choice').addClass('active')

                    if ($that.data('id') != CurrentBook.id) {
                        return
                    }

                    if (result.avg.interest > 0) {
                        $bookRatingEl.addClass('book-appreciated')
                        $('.book-rating-interest-score')
                            .removeClass('none')
                            .text(parseFloat(result.avg.interest).toFixed(1))
                    }
                    if (result.avg.quality > 0) {
                        $bookRatingEl.addClass('book-appreciated')
                        $('.book-rating-quality-score')
                            .removeClass('none')
                            .text(parseFloat(result.avg.quality).toFixed(1))
                    }
                })
            })
        })

        // comments info
        $('.book-rating-detail .book-comments-here').replaceWith($('.book-comments-info'));
        $(document).on('click', '.book-comments-info', function() {
            let jscommentsTextarea = $("#jscommentsTextarea");
            $([document.documentElement, document.body]).animate({
                scrollTop: jscommentsTextarea.offset().top
            }, 500, function () { jscommentsTextarea.focus(); });
        });

        const moderationBlocks = {}
        const isMobile = isTouchDevice()

        if($('#z-slot-moderation .z-moderation-block').length) {
            if (!isBookDownloaded(+CurrentBook.id)) {
                $(function () {
                    let isShowBlocked = false
                    moderationBlocks['bookModeration'] = new ZModerationBlock({
                        type: isMobile
                            ? ZModerationBlock.availableTypes.touch
                            : ZModerationBlock.availableTypes.desktop,
                        isFixed: isMobile,
                        maxCommentLength: 128,
                        eventHandlers: {
                            async onOpen() {
                                if (isShowBlocked) return false
                                isShowBlocked = true // moderation block should only open once
                                if (!moderationBlocks['bookIssueFeedback'] || moderationBlocks['bookIssueFeedback'].state !== 'open') return null
                                return await moderationBlocks['bookIssueFeedback'].close()
                            }
                        },
                        containerSelector: '#z-slot-moderation',
                        initiatorSelector: '.addDownloadedBook',
                    })
                })
            } else {
                $('.z-moderation-block').data('active', '')
            }
        }

        if($('#z-slot-book-issue-feedback .z-moderation-block').length) {
            moderationBlocks['bookIssueFeedback'] = new ZModerationBlock({
                type: isMobile
                    ? ZModerationBlock.availableTypes.touch
                    : ZModerationBlock.availableTypes.desktop,
                isFixed: isMobile,
                maxCommentLength: 256,
                role: ZModerationBlock.availableRoles.bookIssueFeedback,
                eventHandlers: {
                    async onOpen() {
                        if (!moderationBlocks['bookModeration'] || moderationBlocks['bookModeration'].state !== 'open') return null

                        return await moderationBlocks['bookModeration'].close()
                    },
                    beforeSetNegativeAnswer(questionName) {
                        if (questionName !== 'description_matches') return

                        this.close()
                        showTooltipTwice = true
                        CurrentBook.suggestModal()
                        return false
                    }
                },
                containerSelector: '#z-slot-book-issue-feedback',
                initiatorSelector: '#btnOpenReportBlock',
            })
        }
    });

    // Bookmarks
    if ($('.bookmarks').length) {
        userBookmarksInstance = new UserBookmarks(CurrentUser.id)
        userBookmarksInstance.init({
            page: 'book',
            savedBookTags: []        })
    }

    //$('[data-toggle="tooltip"]').tooltip({'html': true});
    $(window).on("load", function () {
        const dibaledDownloadId = "#dbx_" + 2765386;
        $('[data-toggle="tooltip"]').tooltip({'html': true});
        $('[data-autoopen="true"]').tooltip('show');

        $('body').click(()=>{
            $(dibaledDownloadId).tooltip('hide');
        })
        $(".book-details-button").on("mouseenter", ()=>{
            $(dibaledDownloadId).tooltip('show');
        })
        $(".book-details-button").on("mouseleave", ()=>{
            $(dibaledDownloadId).tooltip('hide');
        })

        $('.btn-savebook-disabled').tooltip({
            'html': true,
            'trigger': 'manual',
        });

        $('.btn-savebook-disabled').mouseover(function () {
            $(this).tooltip('show')
        });

        $('.btn-savebook-disabled').click(function () {
            $(this).tooltip('hide')
        });
    });

    function iOSversion()
    {
        if (/iP(hone|od|ad)/.test(navigator.userAgent)) {
            const v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/)
            return [parseInt(v[1], 10), parseInt(v[2], 10), parseInt(v[3] || 0, 10)]
        }

        return [];
    }

    </script>

    <style>
        .bMosaicBox { min-height: 100vh }
        #booksMosaicBoxContainer #bMosaicBox {
            display: none;
        }
        #booksMosaicBoxContainer #bMosaicBox .brick a {
            display: block;
            text-decoration: none;
        }
        #booksMosaicBoxContainer #bMosaicBox .bMosaicCover {
            width: 100%;
        }

        .book-loading { position: relative }

        .book-loading > div:nth-child(2) {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

        #bMosaicBox .c-book-title {
            max-height: 60px;
        }

     
    </style>

    <script type="text/javascript" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/freewall.js.download"></script>
    <script>
        $(document).ready(function() {
            const booksMosaicBoxTemplate = Handlebars.compile(document.getElementById('booksMosaicBoxTemplate').innerHTML)
            const data = new ZLibraryModelList({"books":[{"id":"809986","isbn":"9780802473158,0802473156","url":"\/book\/809986\/de3d31","title":"The Five Love Languages: How to Express Heartfelt Commitment to Your Mate","cover":"\/covers200\/books\/41\/b3\/3c\/41b33cbc579445adf6bc4b50ccbe0019.jpg","coverData":" data-id=\"809986\" data-title=\"The Five Love Languages: How to Express Heartfelt Commitment to Your Mate\" data-author=\"Gary Chapman\""},{"id":"841338","isbn":"B002361MLA","url":"\/book\/841338\/456d66","title":"The Power of Now: A Guide to Spiritual Enlightenment","cover":"\/covers200\/books\/73\/11\/65\/731165e251f6556a7ceb59e91b77c199.jpg","coverData":" data-id=\"841338\" data-title=\"The Power of Now: A Guide to Spiritual Enlightenment\" data-author=\"Eckhart Tolle\""},{"id":"1129976","isbn":"9781861972781,1861972784","url":"\/book\/1129976\/a15756","title":"The 48 Laws of Power","cover":"\/covers200\/books\/13\/d2\/f6\/13d2f692c3dd3a90a7ec5aceb8b62b01.jpg","coverData":" data-id=\"1129976\" data-title=\"The 48 Laws of Power\" data-author=\"Robert Greene\""},{"id":"1171183","isbn":"9780007369867,0007369867","url":"\/book\/1171183\/29a074","title":"How to Talk to Anyone: 92 Little Tricks for Big Success in Relationships","cover":"\/covers200\/books\/2a\/17\/69\/2a17692555dbd43c04d696aaa8b55444.jpg","coverData":" data-id=\"1171183\" data-title=\"How to Talk to Anyone: 92 Little Tricks for Big Success in Relationships\" data-author=\"Leil Lowndes\""},{"id":"1293620","isbn":"9780062060617,0062060619","url":"\/book\/1293620\/32b9c0","title":"The Song of Achilles: A Novel","cover":"\/covers200\/books\/f8\/53\/6f\/f8536ff3ff53a16852a326fc5d4f94c8.jpg","coverData":" data-id=\"1293620\" data-title=\"The Song of Achilles: A Novel\" data-author=\"Madeline Miller\""},{"id":"1309356","isbn":"9781400069286,1400069289","url":"\/book\/1309356\/2af5a0","title":"The Power of Habit: Why We Do What We Do in Life and Business","cover":"\/covers200\/books\/a0\/56\/df\/a056df69e5e2c9cf8c47b021922a9264.jpg","coverData":" data-id=\"1309356\" data-title=\"The Power of Habit: Why We Do What We Do in Life and Business\" data-author=\"Charles Duhigg\""},{"id":"2457254","isbn":"9780762447695,0762447699","url":"\/book\/2457254\/829612","title":"You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life","cover":"\/covers200\/books\/db\/ab\/f6\/dbabf63ad08c05f395e17f61affbe0ea.jpg","coverData":" data-id=\"2457254\" data-title=\"You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life\" data-author=\"Jen Sincero\""},{"id":"2725764","isbn":"9781781257012,1781257019","url":"\/book\/2725764\/08eba3","title":"Ego Is the Enemy","cover":"\/covers200\/books\/0c\/c0\/cf\/0cc0cf7948ead84332112cc0160efb3d.jpg","coverData":" data-id=\"2725764\" data-title=\"Ego Is the Enemy\" data-author=\"Ryan Holiday\""},{"id":"2884726","isbn":"9781451612578,1451612575","url":"\/book\/2884726\/51cc4b","title":"How to Win Friends and Influence People in the Digital Age","cover":"\/covers200\/books\/36\/4c\/72\/364c7220ffb7a5ca1ca094297f9f62e2.jpg","coverData":" data-id=\"2884726\" data-title=\"How to Win Friends and Influence People in the Digital Age\" data-author=\"Dale Carnegie and Associates\""},{"id":"2950787","isbn":"9781449474256,144947425X","url":"\/book\/2950787\/46c317","title":"Milk and Honey","cover":"\/covers200\/books\/8f\/9b\/6b\/8f9b6bffceef958de0c6d7f33914f166.png","coverData":" data-id=\"2950787\" data-title=\"Milk and Honey\" data-author=\"Rupi Kaur\""},{"id":"2957207","isbn":"9780692881958,9781989025000,0692881956,1989025005","url":"\/book\/2957207\/47b46d","title":"Exactly What to Say: The Magic Words for Influence and Impact","cover":"\/covers200\/books\/e1\/a0\/52\/e1a052b5428f021f54ae7d469b261674.jpg","coverData":" data-id=\"2957207\" data-title=\"Exactly What to Say: The Magic Words for Influence and Impact\" data-author=\"Phil M. Jones\""},{"id":"3315767","isbn":"9781544660479,1544660472","url":"\/book\/3315767\/78688e","title":"Self Discipline Mindset: Why Self Discipline Is Lacking in Most and How to Unleash It Now","cover":"\/covers200\/books\/c2\/52\/cc\/c252cc1bc99664b9891890dd8497af0e.jpg","coverData":" data-id=\"3315767\" data-title=\"Self Discipline Mindset: Why Self Discipline Is Lacking in Most and How to Unleash It Now\" data-author=\"Curtis Leone\""},{"id":"3493329","isbn":"9781449486792,1449486797","url":"\/book\/3493329\/90ba2d","title":"The Sun and Her Flowers","cover":"\/covers200\/books\/a7\/05\/9a\/a7059a203b182b06cfb8e8ce4a8e263f.png","coverData":" data-id=\"3493329\" data-title=\"The Sun and Her Flowers\" data-author=\"Rupi Kaur\""},{"id":"3503404","isbn":"9781982074647,1982074647","url":"\/book\/3503404\/f47eda","title":"365 Days with Self-Discipline","cover":"\/covers200\/books\/ab\/56\/38\/ab563847c6c46fc32c9dce4afec2d3fe.jpg","coverData":" data-id=\"3503404\" data-title=\"365 Days with Self-Discipline\" data-author=\"Martin Meadows\""},{"id":"3509074","isbn":"9781501197277,9781760630492,1501197274,1760630497","url":"\/book\/3509074\/cc3423","title":"The Courage to Be Disliked","cover":"\/covers200\/books\/19\/7d\/ac\/197dac7125577dc4dc952ee67a080af0.jpg","coverData":" data-id=\"3509074\" data-title=\"The Courage to Be Disliked\" data-author=\"Ichiro Kishimi, Fumitake Koga\""},{"id":"3557419","isbn":"9781945796067,1945796065","url":"\/book\/3557419\/5b2b8c","title":"101 Essays That Will Change the Way You Think","cover":"\/covers200\/books\/09\/a5\/ad\/09a5ad873ac0ce78590275bc00785dc0.png","coverData":" data-id=\"3557419\" data-title=\"101 Essays That Will Change the Way You Think\" data-author=\"Brianna Wiest\""},{"id":"3558229","isbn":"9780722532935,0722532938","url":"\/book\/3558229\/9b6b53","title":"The Alchemist : A Fable About Following Your Dream","cover":"\/covers200\/books\/65\/d6\/aa\/65d6aa01cecf696a48d574f7023ac3ee.jpg","coverData":" data-id=\"3558229\" data-title=\"The Alchemist : A Fable About Following Your Dream\" data-author=\"Paulo Coelho\""},{"id":"3691923","isbn":"9781986622318,1986622312","url":"\/book\/3691923\/6f0856","title":"Finish What You Start: The Art of Following Through, Taking Action, Executing, &amp; Self-Discipline","cover":"\/covers200\/books\/61\/2e\/11\/612e116fb545eef7b0c28ae2ade03638.jpg","coverData":" data-id=\"3691923\" data-title=\"Finish What You Start: The Art of Following Through, Taking Action, Executing, & Self-Discipline\" data-author=\"Peter Hollins\""},{"id":"3699380","isbn":"9780062457714,0062457713","url":"\/book\/3699380\/1e7ed7","title":"The Subtle Art of Not Giving a Fuck","cover":"\/covers200\/books\/cc\/dd\/39\/ccdd39a77dbc245be746009c9cdbb91d.jpg","coverData":" data-id=\"3699380\" data-title=\"The Subtle Art of Not Giving a Fuck\" data-author=\"Mark Manson\""},{"id":"3707522","isbn":"9781472139962,1472139968","url":"\/book\/3707522\/425a92","title":"Mindset: Change the Way You Think to Fulfill Your Potential","cover":"\/covers200\/books\/4b\/25\/80\/4b2580b6867fe22237237b74ba9e3918.jpg","coverData":" data-id=\"3707522\" data-title=\"Mindset: Change the Way You Think to Fulfill Your Potential\" data-author=\"Carol Dweck\""},{"id":"4649171","isbn":"9781471156267,1471156265,B017RMOW2U","url":"\/book\/4649171\/371aea","title":"It Ends with Us","cover":"\/covers200\/books\/b5\/0b\/2c\/b50b2c576b8ad44ae37874ccbfd61551.jpg","coverData":" data-id=\"4649171\" data-title=\"It Ends with Us\" data-author=\"Colleen Hoover\""},{"id":"4998133","isbn":"9780062888433,0062888439","url":"\/book\/4998133\/385306","title":"Everything Is F*cked: A Book About Hope","cover":"\/covers200\/books\/df\/e8\/09\/dfe8093da362127cc1201580200c4104.jpg","coverData":" data-id=\"4998133\" data-title=\"Everything Is F*cked: A Book About Hope\" data-author=\"Mark Manson\""},{"id":"5002783","isbn":"9781612680194,1612680194","url":"\/book\/5002783\/3b722c","title":"Rich Dad Poor Dad","cover":"\/covers200\/books\/70\/32\/d8\/7032d82ffdc013053cb5ba5e04c8bc74.jpg","coverData":" data-id=\"5002783\" data-title=\"Rich Dad Poor Dad\" data-author=\"Robert T. Kiyosaki\""},{"id":"5066149","isbn":"9781072739791,1072739798","url":"\/book\/5066149\/a2a64c","title":"Dark Psychology Secrets: The Essential Guide to Persuasion, Emotional Manipulation, Deception, Mind Control, Human Behavior, NLP and Hypnosis, How To Stop Being Manipulated And Defend Your Mind","cover":"\/covers200\/books\/59\/0e\/00\/590e0059150e05d0d7e142417189a870.jpg","coverData":" data-id=\"5066149\" data-title=\"Dark Psychology Secrets: The Essential Guide to Persuasion, Emotional Manipulation, Deception, Mind Control, Human Behavior, NLP and Hypnosis, How To Stop Being Manipulated And Defend Your Mind\" data-author=\"Daniel James Hollins\""},{"id":"5206637","isbn":"9780735211292,9781847941831,0735211299,1847941834,B07D23CFGR,B01N5AX61W","url":"\/book\/5206637\/109960","title":"Atomic Habits","cover":"\/covers200\/books\/96\/f9\/97\/96f997237d1fffe83467f130c350f275.jpg","coverData":" data-id=\"5206637\" data-title=\"Atomic Habits\" data-author=\"James Clear\""},{"id":"5214617","isbn":"9781847941831,1847941834","url":"\/book\/5214617\/1ad4a2","title":"Atomic Habits: An Easy &amp; Proven Way to Build Good Habits &amp; Break Bad Ones","cover":"\/covers200\/books\/72\/9a\/66\/729a66f87a5a6ceb910e60038fca86f8.jpg","coverData":" data-id=\"5214617\" data-title=\"Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones\" data-author=\"James Clear\""},{"id":"5935051","isbn":"9780857197696,085719769X","url":"\/book\/5935051\/1e95e7","title":"The Psychology of Money: Timeless Lessons on Wealth, Greed, and Happiness","cover":"\/covers200\/books\/ac\/c5\/21\/acc521dcbf15f206f9b8155e68622706.jpg","coverData":" data-id=\"5935051\" data-title=\"The Psychology of Money: Timeless Lessons on Wealth, Greed, and Happiness\" data-author=\"Morgan Housel\""},{"id":"11785511","isbn":"9781949759297,1949759296","url":"\/book\/11785511\/3274c7","title":"A Gentle Reminder","cover":"\/covers200\/books\/66\/81\/4c\/66814c1902a13569d6809574f357d5e2.jpg","coverData":" data-id=\"11785511\" data-title=\"A Gentle Reminder\" data-author=\"Bianca Sparacino\""}]}).getAll()

            // check if we have images
            if (!$.isArray(data.books) || !data.books.length) {
                return
            }

            $('#booksMosaicBoxContainer').closest('.books-mosaic').show()

            // render template
            $('#booksMosaicBoxContainer').html(booksMosaicBoxTemplate({data: data}))

            // init mosaic
            $('#bMosaicBox').css('display', 'block')
            const wall = new Freewall('#bMosaicBox')
            wall.reset({
                selector: '.brick',
                keepOrder: false,
                animate: true,
                cellW: $($('.brick')[0]).outerWidth(),
                cellH: 'auto',
                gutterX: 8,
                gutterY: 8,
                fixSize: false,
                onResize: function () {
                    wall.fitWidth()
                },
            })

            let adjustTimer
            const switchToImage = ($image, isInstant) => {
                if ($image.hasClass('loaded')) {
                    return
                }

                const imgHeight = $image.height() + 'px'
                const $bookEnvelop = $image.closest('.book-loading')

                $bookEnvelop.css('height', imgHeight)

                if (isInstant) {
                    $bookEnvelop.find('.z-book-none-cover').css('opacity', 0)
                } else {
                    $bookEnvelop.find('.z-book-none-cover')[0].style.animation = '.5s forwards toggleOpacity'
                }
                $bookEnvelop.find('.z-book-cover')[0].style.animation = '.5s reverse forwards toggleOpacity'

                $image.addClass('loaded')

                clearTimeout(adjustTimer)
                adjustTimer = setTimeout(() => wall.fitWidth(), 400)
            }

            // Should be run async, otherwise this code will delay the execution of the js code with a large number of images
            wall.container.find('img').on('load', function () {
                switchToImage($(this), false)
            })

            $('.brick img').each(function() {
                if (this.complete && this.naturalHeight !== 0) {
                    switchToImage($(this), true)
                }
            })

            // make books spines
            $('#booksMosaicBoxContainer .z-book-cover').each(function () {
                makeBookCover($(this))
            })

            $('#booksMosaicBoxContainer .z-book-none-cover').each(function () {
                makeBookWithoutCover($(this))
            })

            setTimeout(() => wall.fitWidth(), 300)
        })
    </script>
    </div>

<script>
    $(function() {
        zBooklistCarousel('.z-booklists-carousel', {destroyContainer: true})
    })
</script>



<div style="background: #49AFD0; height:2px; width: 100%; margin:40px 0 40px 0;">&nbsp;</div>

   
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- icons preload hack -->
        <i class="zlibicon-check" style="font-size: 1px; visibility: hidden; position: absolute; top: 0; left: 0;"></i>

        <div class="modal fade" id="zlibrary-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header hidden">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body" style="position: relative; min-height: 80px;"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="zlibrary-modal-styled" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">                    
                    <div class="modal-header hidden">
                        <h1 class="modal-title"></h1>
                    </div>
                    <div class="modal-body"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>    
                </div>
            </div>
        </div>

        <div class="modal fade" id="zlibrary-modal-auth" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>

        <!-- ggAdditionalHtml -->
        <!--LiveInternet counter--><script type="text/javascript">
new Image().src = "//counter.yadro.ru/hit;bookzz?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random();</script><!--/LiveInternet-->

<iframe name="uploader" id="uploader" style="border:0px solid #ddd; width:90%; display:none;" src="./The Subtle Art of Not Giving a F_ck_ A Counterintuitive Approach to Living a Good Life _ Mark Manson _ download_files/saved_resource.html"></iframe><script></script>        <!-- /ggAdditionalHtml -->
        
                
        <script>
            if (typeof pagerOptions !== "undefined" && pagerOptions) {
                $('div.paginator').paginator(pagerOptions);
                let page = parseInt((new URL(document.location)).searchParams.get("page"));

                if (page > pagerOptions.pagesTotal) {
                    document.location.href = document.location.href.replace(/page=\d+/gi, "page="+pagerOptions.pagesTotal);
                }
            }
        </script>
    


<div class="book-rating-tooltip" style="display: none"></div></body></html>