@page
@model IndexModel
@{
	ViewData["Title"] = "Administration page";
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Administration</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container clearfix">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<div class="center">
								<a href="#" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="~/images/logo1.png" alt="Books2Book Logo"></a>
							</div><!-- #logo end -->
							<div class="fancy-title title-border">
								<h1>Administration</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- #top-bar end -->

		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="fancy-title title-border title-center">
						<h2>Choose a Page Below</h2>
					</div>
					<div class="divider divider-center"><i class="icon-graph"></i></div>
					<div class="fancy-title title-border title-center">
						<h3>Statistics</h3>
					</div>
					<div class="center">
						<a href="~/StatsDetails/Index" class="button button-3d m-0 tab-linker" rel="5">Index</a>
					</div>
					<div class="divider divider-center"><i class="icon-pen"></i></div>
					<div class="fancy-title title-border title-center">
						<h3>TblBorrows</h3>
					</div>
					<div class="center">
						<a href="~/TblBorrows/Index" class="button button-3d m-0 tab-linker" rel="5">Index</a>
					</div>
					<div class="divider divider-center"><i class="icon-book"></i></div>
					<div class="fancy-title title-border title-center">
						<h3>TblBooks</h3>
					</div>
					<div class="center">
						<a href="~/TblBooks/Create" class="button button-3d m-0 tab-linker" rel="1">Create</a>
						<a href="~/TblBooks/Index" class="button button-3d m-0 tab-linker" rel="5">Index</a>
					</div>
					<div class="divider divider-center"><i class="icon-picture"></i></div>
					<div class="fancy-title title-border title-center">
						<h3>TblImages</h3>
					</div>
					<div class="center">
						<a href="~/TblImages/Create" class="button button-3d m-0 tab-linker" rel="1">Create</a>
						<a href="~/TblImages/Index" class="button button-3d m-0 tab-linker" rel="5">Index</a>
					</div>

				</div>

			</div>

		</section>

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row col-mb-30">

						<div class="col-md-6 text-center text-md-start">
							Copyrights &copy; 2022 All Rights Reserved by Books-2-Book Inc.<br>
							<div class="copyright-links"><a href="terms.html">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>

						<div class="col-md-6 text-center text-md-end">
							<div class="d-flex justify-content-center justify-content-md-end">
								<a href="#" class="social-icon si-small si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
							</div>

							<div class="clear"></div>

							<i class="icon-envelope2"></i> info@books2book.com
							<span class="middot">&middot;</span>
							<i class="icon-phone1"></i> 083 468 1461
							<span class="middot">&middot;</span>
							<i class="icon-phone3"></i> 032 943 1348
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->
	</div><!-- #wrapper end -->
	@*	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>*@

</body>
</html>