
@{
    ViewData["Title"] = "View";

    var link = TempData["BookString"];

}

<h1>View</h1>

<style>
    #overlay {
        width: 590px;
        height: 500px;
        z-index: 1;
        background-color: rgba(255,255,0,0.1);
    }

    iframe {
        width: 600px;
        height: 500px;
    }

    #container {
        position: relative;
    }

    #overlay, iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

</style>


<div id="container">
    <div id="overlay">
    </div>
    <iframe src="@link" width="1000" height="500" />
</div>

<p>@link</p>





<script>

    var head = $("#iframe").contents().find("head");
    var css = '<style type="text/css">' +
        '.ndfHFb-c4YZDc-Wrql6b{display:none}; ' +
        '</style>';
    $(head).append(css);
</script>